<!DOCTYPE html>
<html>
<head>

    <title>
        This is Layout2
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2>This is Header Component</h2>
    </div>

    <div>
        @RenderBody()
    </div>

    <div>
        <h2>This is footer Compoent</h2>
    </div>
</body>
</html>

