<table class="table table-bordered table-striped">
    <tr>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr>
        <td>Employee 1</td>
        <td>Test Description</td>
    </tr>
    <tr>
        <td>Employee 2</td>
        <td>Test Description</td>
    </tr>
    <tr>
        <td>Employee 3</td>
        <td>Test Description</td>
    </tr>
    <tr>
        <td>Employee 4</td>
        <td>Test Description</td>
    </tr>
</table>
