@{
    Layout = "~/Views/Shared/_TestLayout2.cshtml";
}

<p class="mydiv">This is Contact Page</p>
<div class="mycolor">
    This is my color css class
    <br />
    <br />
    <br />
</div>
<div class="jumbotron">This is Big Block</div>
